{"swagger":"2.0","info":{"version":"v1","title":"API de Integração."},"host":"www.dimepkairos.com.br","schemes":["https"],"paths":{"/RestServiceApi/Absence/GetAbsences":{"post":{"tags":["Absence"],"summary":"Método responsável por retornar as ocorrências de falta na empresa consultada.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por retornar as ocorrências de falta na empresa consultada. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        // Informar apenas um parâmetro ou não informar nenhuma para retornar todas as ocorrências de falta da empresa.\r\n        \r\n        \"IdsPessoa\": [1 , 2], /* (Campo obrigatório)  Lista de valores informados para consultar os funcionários. Informar 0 quando não há filtro de funcionário.  */\r\n        \"DataInicio\":\"01-02-2023\", /* (Campo obrigatório) Filtro de inicio do período da consulta. Formato dd-MM-aaaa. */\r\n        \"DataFim\":\"23-02-2023\", /* (Campo obrigatório) Filtro de inicio do período da consulta. Formato dd-MM-aaaa. */\r\n        \"RequestType\": 2, /* (Campo obrigatório) É o tipo de valor que será informado na lista de \"IdsPessoa\". 1 = Consulta por id dos funcionários, 2 = Consulta pelo crachá do funcionário, 3 = Consulta pela matrícula do funcionário. */\r\n        \"ResponseType\":\"AS400V1\" /*(Campo obrigatório) Possível valor \"AS400V1\", sempre será esse valor fixo. É o tipo da resposta esperada */             \r\n     }","operationId":"Absence_GetAbsences","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna as faces","schema":{"type":"array","items":{"$ref":"#/definitions/GetAbsencesExample"}},"examples":{"application/json":{"Sucesso":true,"Mensagem":"","Obj":[{"Id":1,"CodigoRegisto":0,"TipoRegisto":"","Numero":1,"Ano":2024,"Mes":7,"Dia":1,"QuantidadeTempo":420,"Aprovado":"N"}]}}}}}},"/RestServiceApi/AbsenceDelay/GetAbsenceDelay":{"post":{"tags":["AbsenceDelay"],"summary":"Método responsável por consultar as ocorrências de faltas e atrasos do funcionário da empresa.","description":"Sample request:\r\n     \r\n     /* Este método responsável por consultar as ocorrências de faltas e atrasos do funcionário da empresa. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        \"IdsEmployee\": [1], /* (Campo obrigatório) Lista de matricula. Informar 0 quando não há filtro de funcionário. */\r\n        \"Start\":\"01-02-2023\", /* (Campo obrigatório) Filtro de inicio do período da consulta. Formato dd-MM-aaaa. */\r\n        \"End\":\"23-02-2023\", /* (Campo obrigatório) Filtro de fim do período da consulta. Formato dd-MM-aaaa. */\r\n        \"RequestType\":\"1\", /* (Campo obrigatório) É o tipo de valor que será informado no \"IdsEmployee\". 1 = Consulta por id dos funcionários, 2 = Consulta pelo crachá do funcionário, 3 = Consulta pela matrícula do funcionário. */\r\n        \"ResponseType\":\"AS400V1\" /*(Campo obrigatório) Possível valor \"AS400V1\", sempre será esse valor fixo. É o tipo da resposta esperada */ \r\n     }","operationId":"AbsenceDelay_GetAbsenceDelay","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Consulta realizada com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/AbsenceDelay/Justify":{"post":{"tags":["AbsenceDelay"],"summary":"Método responsável por tratar as ocorrências de faltas e atrasos do funcionário da empresa.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por tratar as ocorrências de faltas e atrasos do funcionário da empresa. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n         // Os dados abaixo são fictícios, altere e informe os dados corretos da sua empresa.\r\n         // !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão salvos.     \r\n        \r\n         \"IdUser\" : 2398, /* (Campo obrigatório) Id do usuario. */\r\n         \"IdJustification\": 1, /* (Campo obrigatório) Id da justificativa. */\r\n         \"IdsOccurrence\": [33510115], /* (Campo obrigatório) Lista de id das ocorrêncisa que serão tratadas. */\r\n         \"Percentage\" : 50, /* (Campo obrigatório) Percentagem de horas tratadas. */\r\n         \"Hours\" : \"1753-01-01T08:00:00\", /* (Campo obrigatório) Data e hora tratadas. */\r\n         \"ResponseType\":\"AS400V1\" /*(Campo obrigatório) Possível valor \"AS400V1\", sempre será esse valor fixo. É o tipo da resposta esperada */ \r\n     }","operationId":"AbsenceDelay_Justify","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Justificado com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Absent/GetTypeAbsent":{"post":{"tags":["Absent"],"summary":"Método responsável por retornar o tipo de afastamento na empresa consultada.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por retornar o tipo de afastamento na empresa consultada. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/","operationId":"Absent_GetTypeAbsent","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Consulta realizada com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Absent/MarkAbsent":{"post":{"tags":["Absent"],"summary":"Método responsável por salvar o afastamento do funcionário da empresa.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por salvar o afastamento do funcionário da empresa. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n         // Os dados abaixo são fictícios, altere e informe os dados corretos da sua empresa.\r\n         // !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão salvos.     \r\n\r\n         \"MATRICULA\": 9999, /* (Campo obrigatório) Matrícula do funcionário */\r\n         //\"PESSOAID\": 999, /* (Campo opcional) Id do Funcionário */\r\n         //\"CRACHA\": 99999, /* (Campo opcional) Cracha do Funcionário */\r\n         \"MOTIVO\": \"Licença Maternidade\", /* (Campo obrigatório) Descrição do motivo do afastamento */\r\n         \"DATAINICIO\": \"2023-02-10\", /* (Campo obrigatório) Inicio do afastamento do funcionário. Formato aaaa-MM-dd. */\r\n         \"DATAFIM\": \"2023-02-20\", /* (Campo obrigatório) Fim do afastamento do funcionário. Formato aaaa-MM-dd. */\r\n         // \"REMOVERFERIAS\": false /* (Campo opcional) Excluir as férias do período. Valor padrão é false. false = Não exclui as férias, true = Exclui as férias  */\r\n         // \"REMOVERFOLGAS\": false /* (Campo opcional) Excluir as Folgas do período. Valor padrão é false. false = Não exclui as folgas, true = Exclui as folgas  */\r\n     }","operationId":"Absent_MarkAbsent","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Salvo com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Absent/UnMarkAbsent":{"post":{"tags":["Absent"],"summary":"Método responsável por retirar o afastamento do funcionário da empresa.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por retirar o afastamento do funcionário da empresa. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n         // Os dados abaixo são fictícios, altere e informe os dados corretos da sua empresa.\r\n         // !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão excluídos.     \r\n\r\n         \"MATRICULA\": 9999, /* (Campo obrigatório) Matrícula do funcionário */\r\n         //\"PESSOAID\": 999, /* (Campo opcional) Id do Funcionário */\r\n         //\"CRACHA\": 99999, /* (Campo opcional) Cracha do Funcionário */\r\n     }","operationId":"Absent_UnMarkAbsent","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Excluído com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Absent/GetAbsent":{"post":{"tags":["Absent"],"summary":"Método responsável por retornar os afastamentos na empresa consultada.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por retornar os afastamentos na empresa consultada. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        // Informar apenas um parâmetro ou não informar nenhuma para retornar todos os afastamento da empresa.\r\n        \r\n        // \"Cracha\": [ 7560, 1088 ] /* (Campo opcional) Filtro de lista de crachá dos funcionários, se caso não for informado retornará todos os afastamento de todos os funcionários da empresa. */\r\n        // \"Discriminador\": \"\" /* (Campo opcional) Descrição do afastamento. */\r\n        // \"InicioPesquisa\": \"2020/07/01\", /* (Campo opcional) Filtro de inicio do período da consulta. */\r\n        // \"FimPesquisa\": \"2020/07/31\" /* (Campo opcional) Filtro de fim do período da consulta. */\r\n        // \"CodigoAfastamento\": 1 /* (Campo opcional) Código de afastamento. */\r\n        // \"Discriminador\": \"Licença Maternidade\" /* (Campo opcional) Filtro de descrição do afastamento da consulta. */\r\n     }","operationId":"Absent_GetAbsent","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Consulta realizada com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Appointment/GetAppointments":{"post":{"tags":["Appointment"],"summary":"Buscar todas as marcações de acordo com os parâmetros informados no Json.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por buscar todas as marcações de acordo com os parâmetros informados no Json. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        \"IdsPessoa\": [1, 2, 3, 4, 5], /* (Campo obrigatório) Ids dos funcionários. Informar 0 quando não há filtro de funcionário. */\r\n        \"DataInicio\": \"01-09-2019\", /* (Campo obrigatório) Início do período consultado */ \r\n        \"DataFim\": \"16-09-2019\", /* (Campo obrigatório) Fim do período consultado */\r\n        \"ResponseType\": \"AS400V1\" /* (Campo obrigatório) Possível valor \"AS400V1\", sempre será esse valor fixo. É o tipo da resposta esperada */ \r\n     }","operationId":"Appointment_GetAppointments","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna as marcações","schema":{"type":"array","items":{"$ref":"#/definitions/GetAppointmentsExample"}},"examples":{"application/json":[{"Numero":2,"Ano":2019,"Mes":9,"Dia":10,"Hora":8,"Minuto":0},{"Numero":2,"Ano":2019,"Mes":9,"Dia":10,"Hora":12,"Minuto":0},{"Numero":2,"Ano":2019,"Mes":9,"Dia":11,"Hora":8,"Minuto":0},{"Numero":2,"Ano":2019,"Mes":9,"Dia":11,"Hora":20,"Minuto":0}]}}}}},"/RestServiceApi/Appointment/GetAppointmentsV2":{"post":{"tags":["Appointment"],"summary":"Buscar todas as marcações de acordo com os parâmetros informados no Json.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por buscar todas as marcações de acordo com os parâmetros informados no Json. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        \"IdsPessoa\": [22], /* (Campo obrigatório) Id do funcionário. Informar 0 quando não há filtro de funcionário. */\r\n        \"CrachasPessoa\":[1,2 ],\r\n        \"MatriculasPessoa\":[1,2 ],\r\n        \"PisPessoa\":[\"00000000000\",\"00000000000\"],\r\n        \"CpfsPessoa\":[\"00000000000\",\"00000000000\"],\r\n        \"NifsPessoa\":[\"000.000.000-00\",\"000.000.000-00\"],\r\n        \"EmailsPessoa\":[\"email@empresa.com\",\"email2@empresa.com\"],\r\n        \"CnpjsEmpresas\":[\"56831401000148\", \"88277465000135\"],\r\n        \"DataInicio\":\"01-09-2019\", /* (Campo obrigatório) Início do período consultado */ \r\n        \"DataFim\":\"01-06-2020\", /* (Campo obrigatório) Fim do período consultado */\r\n        //\"Hora\":\"12:00\", /* (Campo opcional) Hora da marcação consultada */\r\n        \"CalculoNaoAtualizado\":\"true\",  /* (Campo obrigatório) Valor padrão é false. Quando o valor for false retorna os dias com calculo atualizado, se o valor for true retorna todos os dias do período consultado independente do cálculo */\r\n        \"ResponseType\":\"AS400V1\" /* (Campo obrigatório) Possível valor \"AS400V1\", sempre será esse valor fixo. É o tipo da resposta esperada */ \r\n     }","operationId":"Appointment_GetAppointmentsV2","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna as marcações","schema":{"type":"array","items":{"$ref":"#/definitions/GetAppointmentsV2Example"}},"examples":{"application/json":[{"Matricula":1,"Ano":2021,"Mes":1,"Dia":28,"Hora":8,"Minuto":0,"NSR":0,"TipoMarcacao":"E","NumeroSerieRep":0,"CodigoObra":1,"DescricaoObra":"Obra 1","PIS":"10305690938","PessoaID":3015,"RelogioID":0,"Indevido":"true","AnoColeta":0,"MesColeta":0,"DiaColeta":0,"HoraColeta":0,"MinutoColeta":0,"SegundoColeta":0,"CPF":"","IDSequence":1,"CodigoMobile":"1","MobileID":"1","Latitude":"-23.5545988","Longitude":"-46.8137927"}]}}}}},"/RestServiceApi/Appointment/GetAppointmentsPointer":{"post":{"tags":["Appointment"],"summary":"Buscar todas as marcações de acordo com os parâmetros informados no Json.","description":"Sample request:\r\n     \r\n     /* Post */        \r\n     {\r\n        \"IdsPessoa\": [22], /* (Campo obrigatório) Id do funcionário. Informar 0 quando não há filtro de funcionário. */\r\n        \"CrachasPessoa\":[1,2 ],\r\n        \"MatriculasPessoa\":[1,2 ],\r\n        \"PisPessoa\":[\"00000000000\",\"00000000000\"],\r\n        \"CpfsPessoa\":[\"00000000000\",\"00000000000\"],\r\n        \"NifsPessoa\":[\"000.000.000-00\",\"000.000.000-00\"],\r\n        \"NifsPessoa\":[\"000.000.000-00\",\"000.000.000-00\"],\r\n        \"CnpjsEmpresas\":[\"56831401000148\", \"88277465000135\"]\r\n        \"MarcacaoColetadaAPI\": false /* (Campo obrigatório) Default false */\r\n        \"DataInicio\":\"01-09-2019\", /* (Campo obrigatório) Início do período consultado, caso não informado buscará todas as marcações de acordo com a flag de coleta passada. Formato dd-MM-aaaa. */ \r\n        \"DataFim\":\"01-06-2020\", /* (Campo obrigatório) Fim do período consultado, caso não informado buscará todas as marcações de acordo com a flag de coleta passada. Formato dd-MM-aaaa. */ \r\n        \"ResponseType\":\"AS400V1\" /* (Campo obrigatório) Possível valor \"AS400V1\", sempre será esse valor fixo. É o tipo da resposta esperada */ \r\n        \"Pagina\":1 /* Página da consulta de marcações de acordo com a flag MarcacaoColetadaAPI */ \r\n     }","operationId":"Appointment_GetAppointmentsPointer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna as marcações","schema":{"type":"array","items":{"$ref":"#/definitions/GetAppointmentsPointerExample"}},"examples":{"application/json":[{"Id":0,"Matricula":1,"Ano":2021,"Mes":1,"Dia":28,"Hora":8,"Minuto":0,"NSR":0,"PIS":"10305690938","TipoMarcacao":"E","PessoaID":3015,"NumeroSerieRep":0,"RelogioID":0,"Indevido":false,"AnoColeta":2021,"MesColeta":1,"DiaColeta":28,"HoraColeta":8,"MinutoColeta":0,"SegundoColeta":0,"IdApont":9000}]}}}}},"/RestServiceApi/Appointment/SetAppointmentsPointer":{"post":{"tags":["Appointment"],"summary":"Altera o valor de coleta das marcações de acordo com os parâmetros informados no Json.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por alterar o valor de coleta das marcações de acordo com os parâmetros informados no Json. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        \"IdsMarcacoes\": [22], /* (Campo obrigatório) Ids das marcações. não informar quando utilizar data início e fim. */\r\n        \"CnpjsEmpresas\":[\"56831401000148\", \"88277465000135\"] /* (Campo opcional) */\r\n        \"MarcacaoColetadaAPI\": false /* (Campo obrigatório) Default false */\r\n        \"DataInicio\":\"01-09-2019\", /* (Campo obrigatório) Início do período, caso não informado usará os ids das marcações. Formato dd-MM-aaaa. */ \r\n        \"DataFim\":\"01-06-2020\", /* (Campo obrigatório) Fim do período consultado, caso não informado usará os ids das marcações. Formato dd-MM-aaaa. */ \r\n        \"ResponseType\":\"AS400V1\" /* (Campo obrigatório) Possível valor \"AS400V1\", sempre será esse valor fixo. É o tipo da resposta esperada */ \r\n     }","operationId":"Appointment_SetAppointmentsPointer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Altera o valor de coleta das marcações","schema":{"type":"array","items":{"$ref":"#/definitions/SetAppointmentsPointerExample"}},"examples":{"application/json":[{"Success":true}]}}}}},"/RestServiceApi/CalculationRules/GetCalculationRulesSummary":{"post":{"tags":["CalculationRules"],"summary":"Método responsável por retornar informações de id, código e descrição de Regra de Cálculo.","description":"Sample request:\r\n     \r\n     /* Este Método responsável por retornar informações de id, código e descrição de Regra de Cálculo por empresa. */  \r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        \"Pagina\": \"1\" /* Traz resultados de página indicada, em caso de resultados com mais de 1000 registros. Padrão: Pagina = 1 */\r\n     }","operationId":"CalculationRules_GetCalculationRulesSummary","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Consulta realizada com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Clock/AssociateClocks":{"post":{"tags":["Clock"],"summary":"Associar pessoas ao relógio","description":"Exemplo:\r\n            \r\n    /* Post */\r\n    {\r\n       \"PessoaCracha\":[5,6,7,8,9,12,13,15,16,17], /* (Campo obrigatório) Lista de cracha*/\r\n       \"RelogioNumero\":[1,2], /* (Campo obrigatório) Lista de números de relógios*/\r\n       \"EnviarListaCredenciais\":true, /* (Campo obrigatório) Envia a lista de credenciais. Valor padrão é false. false = Não envia credenciais, false = Envia credenciais  */\r\n       \"EnviarListaTemplate\":true, /* (Campo obrigatório) Envia a lista de template. Valor padrão é false. false = Não envia templates, false = Envia templates  */\r\n       \"EnviarListaTemplateFace\":true /* (Campo obrigatório) Envia a lista de face. Valor padrão é false. false = Não envia face, false = Envia face  */\r\n    }","operationId":"Clock_AssociateClocks","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna as pessoas associadas","schema":{"type":"array","items":{"$ref":"#/definitions/ClockModelsApiRet"}}}}}},"/RestServiceApi/Clock/ScheduleCommands":{"post":{"tags":["Clock"],"summary":"Método responsável por agendar um comando para o relógio.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por agendar um comando para o relógio.\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        \"PessoaCracha\":[1533], /* (Campo obrigatório) Crachá do funcionário */\r\n         \"RelogioNumero\":[6969], /* (Campo obrigatório) Número do relógio */\r\n         \"EnviarListaCredenciais\":true /* (Campo obrigatório) Envia a lista de credenciais. Valor padrão é false. false = Não envia credenciais, true = Envia credenciais  */\r\n         \"ExcluirListaPessoas\":true /* (Campo obrigatório) Exclui as pessoas. Valor padrão é false. false = Exclui a pessoa, true = Não exclui a pessoa */\r\n         \"ExcluirListaCredenciais\":true /* (Campo obrigatório) Exclui as credenciais das pessoas. Valor padrão é false. false = Exclui a credencial, true = Não exclui a credencial */\r\n         \"EnviarListaTemplate\":true, /* (Campo obrigatório) Exclui os templates das pessoas. Valor padrão é false. false = Exclui o template, true = Não exclui o template */\r\n         \"BuscarListaTemplatesRelogioPessoa\":true, /* (Campo obrigatório) Exclui a lista de templates das pessoas. Valor padrão é false. false = Exclui a lista de template, true = Não exclui lista de template */\r\n         \"ExcluirListaTemplates\":true, /* (Campo obrigatório) Exclui a lista de templates das pessoas. Valor padrão é false. false = Exclui a lista de template, true = Não exclui lista de template */\r\n         \"BuscarListaTemplatesRelogioPessoaTotal\":true, /* (Campo obrigatório) Buscar todos os de templates das pessoas. Valor padrão é false. false = Não buscar todos os templates template, true = Busca todos os templates template */\r\n         \"EnviarListaTemplateFace\":true /* (Campo obrigatório) Enviar a lista de face das pessoas. Valor padrão é false. false = Não envia a lista de face, true = Buscar a envia de face */\r\n         \"ExcluirListaTemplatesFace\":true, /* (Campo obrigatório) Excluir a lista de face das pessoas. Valor padrão é false. false = Não exclui a lista de face, true = Exclui a lista de face */\r\n         \"BuscarListaFacesRelogioPessoa\":true, /* (Campo obrigatório) Buscar a lista de face das pessoas. Valor padrão é false. false = Não buscar a lista de face, true = Buscar a lista de face */\r\n         \"BuscarListaFacesRelogioPessoaTotal\":true /* (Campo obrigatório) Buscar a lista de face total das pessoas. Valor padrão é false. false = Não buscar a lista de face total, true = Buscar a lista de face total */\r\n     }\r\n   \r\n     <returns>Retorna a resposta da solicitação</returns><response code=\"200\">Comando efetuado com sucesso</response>","operationId":"Clock_ScheduleCommands","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna sucesso ou erro no envio dos comandos"}}}},"/RestServiceApi/Clock/SearchClocks":{"post":{"tags":["Clock"],"summary":"Método responsável por buscar os relógios do sistema.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por buscar os relógios do sistema.\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        RelogioIp\": \"192.168.15.127\", /* (Campo obrigatório) Id do relogio */\r\n        \"Compartilhado\": \"true\", /* (Campo obrigatório) Relogio compartilhado. Valor padrão é false. false = Não é compartilhado, true = Compartilhado */\r\n        \"NumeroFabricacao\": \"45645645465\", /* (Campo obrigatório) Número de fabricação. */\r\n        \"RelogioDesativado\": \"true\", /* (Campo obrigatório) Relógio desativado. Valor padrão é false. false = Não é desativado, true = Desativado */\r\n        \"TodosRelogios\": \"true\", /* (Campo obrigatório) Todos relógios. Valor padrão é false. false = Não retorna todos relógios, true = Todos relógios */\r\n        \"RelogioNumero\": 2 /* (Campo obrigatório) Número do relógio */\r\n     }\r\n   \r\n     <returns>Retorna a resposta da solicitação</returns><response code=\"200\">Comando efetuado com sucesso</response>","operationId":"Clock_SearchClocks","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna as pessoas associadas","schema":{"type":"array","items":{"$ref":"#/definitions/ClockModelApiSearchReturn"}}}}}},"/RestServiceApi/Clock/UnassociateClocks":{"post":{"tags":["Clock"],"summary":"Método responsável por desassociar pessoas do relógio.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por desassociar pessoas do relógio.\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        \"PessoaCracha\":[5,6,7,8,9,12,13,15,16,17],\r\n        \"RelogioNumero\":[1,2],\r\n        \"ExcluirListaPessoas\":true,\r\n        \"ExcluirListaTemplates\":true,\r\n        \"ExcluirListaTemplatesFace\":true,\r\n     }\r\n   \r\n     <returns>Retorna a resposta da solicitação</returns><response code=\"200\">Comando efetuado com sucesso</response>","operationId":"Clock_UnassociateClocks","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna sucesso ou erro na desassociação de pessoas"}}}},"/RestServiceApi/Company/GetCompany":{"post":{"tags":["Company"],"summary":"Método responsável por retornar os dados da empresa consultada.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por retornar os dados na empresa consultada. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Get */\r\n     {\r\n        \"Id\" : 313, /* (Campo obrigatório) Id da empresa  */\r\n        \"Code\": 0, /* (Campo obrigatório) Código da empresa. */\r\n        \"ResponseType\":\"AS400V1\" /*(Campo obrigatório) Possível valor \"AS400V1\", sempre será esse valor fixo. É o tipo da resposta esperada */             \r\n     }","operationId":"Company_GetCompany","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Consulta realizada com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Delay/GetDelays":{"post":{"tags":["Delay"],"summary":"Método responsável por consultar os atrasos do funcionário da empresa.","description":"Sample request:\r\n     \r\n     /* Este método responsável por consultar os atrasos do funcionário da empresa. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        \"IdsPessoa\": [1], /* (Campo obrigatório) Lista de id dos funcionários. */\r\n        \"DataInicio\":\"01-09-2019\", /* (Campo obrigatório) Filtro de inicio do período da consulta. Formato dd-MM-aaaa. */\r\n        \"DataFim\":\"16-09-2019\", /* (Campo obrigatório) Filtro de fim do período da consulta. Formato dd-MM-aaaa. */\r\n        \"RequestType\":\"1\", /* (Campo obrigatório) É o tipo de valor que será informado no \"IdsPessoa\". 1 = Consulta por id dos funcionários, 2 = Consulta pelo crachá do funcionário, 3 = Consulta pela matrícula do funcionário. */\r\n        \"ResponseType\":\"AS400V1\" /*(Campo obrigatório) Possível valor \"AS400V1\", sempre será esse valor fixo. É o tipo da resposta esperada */ \r\n     }","operationId":"Delay_GetDelays","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Consulta realizada com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Digital/SearchDigital":{"post":{"tags":["Digital"],"summary":"Método responsável por retornar a digital consultada.","description":"Sample request:\r\n     \r\n    /* Este método é responsável por retornar a digital consultada. */\r\n    \r\n    /* Headers */\r\n    /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n    /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n    \r\n    /* \r\n       Os dados abaixo são fictícios, altere e informe os dados corretos.\r\n       !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão salvos.\r\n    \r\n       O parâmetro IdSensor poderá receber os seguintes códigos referenciados:\r\n       \r\n       Tipos de Módulos Biométricos:\r\n       \"2601\" Capacitivo; \"2602\" Testech 317; \"2603\" Sagem; \"2604\" Testech 320; \"2605\" NeoKoros; \"2606\" Suprema; \r\n       \"2607\" ZK; \"2608\" ZK9; \"2609\" Virdi; \"2610\" NG; \"2611\" Secukey; \"2612\" SupremaH; \"2613\" Sinatra; \"2614\" NitGen; \r\n       \"2615\" 500 DPi; \"2616\" ZKAIPushBio; \"2617\" HikVision \r\n\r\n       O parâmetro Finger1 e Finger2 poderá receber os seguintes identificadores\r\n       \r\n       Mão esquerda:\r\n       \"01\" dedo mínimo; \"02\" anelar;\"03\" dedo médio;\"04\" indicador; \"05\" polegar;\r\n       \r\n       Mão direita\r\n       \"06\" polegar;\"07\" indicador;\"08\"dedo médio;\"09\" anelar;\"10\" dedo mínimo \r\n    */\r\n\r\n    /* Post */\r\n    {\r\n        \"lstDigitalBiometrics\":\r\n        [{\r\n           \"IdEmployee\": 1, /* (Campo obrigatório) Id do funcionário */\r\n           \"IdSensor\": 2603 /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n        },\r\n        {\r\n           \"IdEmployee\": 2, /* (Campo obrigatório) Id do funcionário */\r\n           \"IdSensor\": 2604 /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n        },\r\n        {\r\n           \"IdEmployee\": 3, /* (Campo obrigatório) Id do funcionário */\r\n           \"IdSensor\": 2605 /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n        }]\r\n    }","operationId":"Digital_SearchDigital","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna as faces","schema":{"type":"array","items":{"$ref":"#/definitions/SearchDigitalExample"}},"examples":{"application/json":{"Sucesso":true,"Mensagem":"","Obj":[{"IdEmployee":1,"LstTemplate":[{"IdDigital":1,"IdSensor":2606,"Template":"3;92406:38::2>24107;?<2...","Finger1":1,"Finger2":6}]}]}}}}}},"/RestServiceApi/Digital/SaveDigital":{"post":{"tags":["Digital"],"summary":"Método responsável por salvar a digital.","description":"Sample request:\r\n     \r\n    /* Este método é responsável por incluir biometria digital. */\r\n\r\n    /* Headers */\r\n    /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n    /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API. */\r\n    \r\n    /* \r\n        Os dados abaixo são fictícios, altere e informe os dados corretos.\r\n        !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão salvos.\r\n\r\n        O parâmetro IdSensor poderá receber os seguintes códigos referenciados:\r\n        \r\n        Tipos de Módulos Biométricos:\r\n        \"2601\" Capacitivo; \"2602\" Testech 317; \"2603\" Sagem; \"2604\" Testech 320; \"2605\" NeoKoros; \"2606\" Suprema; \r\n        \"2607\" ZK; \"2608\" ZK9; \"2609\" Virdi; \"2610\" NG; \"2611\" Secukey; \"2612\" SupremaH; \"2613\" Sinatra; \"2614\" NitGen; \r\n        \"2615\" 500 DPi; \"2616\" ZKAIPushBio; \"2617\" HikVision \r\n\r\n        O parâmetro Finger1 e Finger2 poderá receber os seguintes identificadores\r\n        \r\n        Mão esquerda:\r\n        \"01\" dedo mínimo; \"02\" anelar;\"03\" dedo médio;\"04\" indicador; \"05\" polegar;\r\n        \r\n        Mão direita\r\n        \"06\" polegar;\"07\" indicador;\"08\"dedo médio;\"09\" anelar;\"10\" dedo mínimo \r\n    */\r\n\r\n    /* Post */\r\n    \r\n    {\r\n        \"lstDigitalBiometrics\" :\r\n        [{\r\n           \"IdEmployee\": 1, /* (Campo obrigatório) Id do funcionário */\r\n           \"IdSensor\": 2603, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n           \"CapturedString\": \"Informe aqui a string do template\", /* (Campo obrigatório) Informe a string do template */\r\n           \"Finger1\": \"04\", /* (Campo obrigatório) Informe o código correspondente a captura da anatomia da mão do funcionário. */\r\n           \"Finger2\": \"07\" /* (Campo obrigatório) Informe o código correspondente a captura da anatomia da mão do funcionário. */\r\n        },\r\n        {\r\n           \"IdEmployee\": 2, /* (Campo obrigatório) Id do funcionário */\r\n           \"IdSensor\": 2604, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n           \"CapturedString\": \"Informe aqui a string do template\", /* (Campo obrigatório) Informe a string do template */\r\n           \"Finger1\": \"01\", /* (Campo obrigatório) Informe o código correspondente a captura da anatomia da mão do funcionário. */\r\n           \"Finger2\": \"06\" /* (Campo obrigatório) Informe o código correspondente a captura da anatomia da mão do funcionário. */\r\n        },\r\n        {\r\n           \"IdEmployee\": 3, /* (Campo obrigatório) Id do funcionário */\r\n           \"IdSensor\": 2605, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n           \"CapturedString\": \"Informe aqui a string do template\", /* (Campo obrigatório) Informe a string do template */\r\n           \"Finger1\": \"02\", /* (Campo obrigatório) Informe o código correspondente a captura da anatomia da mão do funcionário. */\r\n           \"Finger2\": \"08\" /* (Campo obrigatório) Informe o código correspondente a captura da anatomia da mão do funcionário. */\r\n        }]\r\n    }","operationId":"Digital_SaveDigital","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna as faces","schema":{"type":"array","items":{"$ref":"#/definitions/GetDigitalExample"}},"examples":{"application/json":{"Sucesso":true,"Mensagem":"","Obj":null}}}}}},"/RestServiceApi/Digital/ChangeDigital":{"post":{"tags":["Digital"],"summary":"Método responsável por salvar a digital.","description":"Sample request:\r\n     \r\n    /* Este método é responsável por atualizar biometria digital. */\r\n\r\n    /* Headers */\r\n    /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n    /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API. */\r\n    \r\n    /* Os dados abaixo são fictícios, altere e informe os dados corretos.\r\n    !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão salvos.\r\n\r\n    O parâmetro IdSensor poderá receber os seguintes códigos referenciados:\r\n    \r\n    Tipos de Módulos Biométricos:\r\n    \"2601\" Capacitivo; \"2602\" Testech 317; \"2603\" Sagem; \"2604\" Testech 320; \"2605\" NeoKoros; \"2606\" Suprema; \r\n    \"2607\" ZK; \"2608\" ZK9; \"2609\" Virdi; \"2610\" NG; \"2611\" Secukey; \"2612\" SupremaH; \"2613\" Sinatra; \"2614\" NitGen; \r\n    \"2615\" 500 DPi; \"2616\" ZKAIPushBio*/\r\n\r\n    O parâmetro Finger1 e Finger2 poderá receber os seguintes identificadores\r\n    \r\n    Mão esquerda:\r\n    \"01\" dedo mínimo; \"02\" anelar;\"03\" dedo médio;\"04\" indicador; \"05\" polegar;\r\n    \r\n    Mão direita\r\n    \"06\" polegar;\"07\" indicador;\"08\"dedo médio;\"09\" anelar;\"10\" dedo mínimo \r\n    */\r\n\r\n    /* Post */\r\n    {\r\n    \"lstDigitalBiometrics\":\r\n        [{\r\n           \"IdEmployee\": 1, /* (Campo obrigatório) Id do funcionário */\r\n           \"IdSensor\": 2603, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n           \"CapturedString\": \"Informe aqui a string do template\", /* (Campo obrigatório) Informe a string do template */\r\n           \"Finger1\": \"04\", /* (Campo obrigatório) Informe o código correspondente a captura da anatomia da mão do funcionário. */\r\n           \"Finger2\": \"07\" /* (Campo obrigatório) Informe o código correspondente a captura da anatomia da mão do funcionário. */\r\n        },\r\n        {\r\n           \"IdEmployee\": 2, /* (Campo obrigatório) Id do funcionário */\r\n           \"IdSensor\": 2604, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n           \"CapturedString\": \"Informe aqui a string do template\", /* (Campo obrigatório) Informe a string do template */\r\n           \"Finger1\": \"03\", /* (Campo obrigatório) Informe o código correspondente a captura da anatomia da mão do funcionário. */\r\n           \"Finger2\": \"09\" /* (Campo obrigatório) Informe o código correspondente a captura da anatomia da mão do funcionário. */\r\n        },\r\n        {\r\n           \"IdEmployee\": 3, /* (Campo obrigatório) Id do funcionário */\r\n           \"IdSensor\": 2605, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n           \"CapturedString\": \"Informe aqui a string do template\", /* (Campo obrigatório) Informe a string do template */\r\n           \"Finger1\": \"01\", /* (Campo obrigatório) Informe o código correspondente a captura da anatomia da mão do funcionário. */\r\n           \"Finger2\": \"06\" /* (Campo obrigatório) Informe o código correspondente a captura da anatomia da mão do funcionário. */\r\n        }]\r\n    }","operationId":"Digital_ChangeDigital","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna as faces","schema":{"type":"array","items":{"$ref":"#/definitions/GetDigitalExample"}},"examples":{"application/json":{"Sucesso":true,"Mensagem":"","Obj":null}}}}}},"/RestServiceApi/Digital/DeleteDigital":{"post":{"tags":["Digital"],"summary":"Método responsável por excluir a digital.","description":"Sample request:\r\n     \r\n    /* Este método é responsável por excluir a digital. */\r\n\r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        \"lstDigitalBiometrics\":\r\n        [{\r\n           \"IdEmployee\": 1, /* (Campo obrigatório) Id do funcionário */\r\n           \"IdDigital\": 1 /* (Campo obrigatório) Informe o id da digital cadastrada */\r\n        },\r\n        {\r\n           \"IdEmployee\": 2, /* (Campo obrigatório) Id do funcionário */\r\n           \"IdDigital\": 2 /* (Campo obrigatório) Informe o id da digital cadastrada */\r\n        },\r\n        {\r\n           \"IdEmployee\": 3, /* (Campo obrigatório) Id do funcionário */\r\n           \"IdDigital\": 3 /* (Campo obrigatório) Informe o id da digital cadastrada */\r\n        }]\r\n     }","operationId":"Digital_DeleteDigital","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna as faces","schema":{"type":"array","items":{"$ref":"#/definitions/GetDigitalExample"}},"examples":{"application/json":{"Sucesso":true,"Mensagem":"","Obj":null}}}}}},"/RestServiceApi/Digital/GetAllPeopleWithOrWithoutDigital":{"post":{"tags":["Digital"],"summary":"Método para buscar todos os templates biométricos","description":"Exemplo:\r\n            \r\n    /* Este método é responsável por buscar o funcionário o funcionário. */\r\n    \r\n    O parâmetro IdSensor poderá receber os seguintes códigos referenciados:\r\n    \r\n    /* Headers */\r\n    /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n    /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n    \r\n    /* \r\n    Tipos de Módulos Biométricos:\r\n    \"2601\" Capacitivo; \"2602\" Testech 317; \"2603\" Sagem; \"2604\" Testech 320; \"2605\" NeoKoros; \"2606\" Suprema; \r\n    \"2607\" ZK; \"2608\" ZK9; \"2609\" Virdi; \"2610\" NG; \"2611\" Secukey; \"2612\" SupremaH; \"2613\" Sinatra; \"2614\" NitGen; \r\n    \"2615\" 500 DPi; \"2616\" ZKAIPushBio*/\r\n    */\r\n    \r\n    /* Post */\r\n    {\r\n       \"Id\": 1, /* (Campo opcional) Id do funcionário. */\r\n       \"Matricula\": 01, /* (Campo opcional) Matricula do funcionário. */\r\n       \"Cracha\": 01, /* (Campo opcional) Cracha do funcionário. */\r\n       \"Nome\": \"Novo Funcionário\", /* (Campo opcional) Nome do funcionário. */\r\n       \"IdSensor\": 2603 /* (Campo opcional) Informe o id do sensor biometrico cadastrado */\r\n    }","operationId":"Digital_GetAllPeopleWithOrWithoutDigital","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna os funcionários do sistema","schema":{"type":"array","items":{"$ref":"#/definitions/GetAllPeopleWithOrWithoutDigitalExample"}},"examples":{"application/json":{"Sucesso":true,"Mensagem":"","TotalPagina":1,"PaginaAtual":1,"Obj":[{"Id":1,"Matricula":1,"Cracha":1,"Nome":"Employee 1","LstTemplate":[{"IdDigital":1,"Template":"3;92406:38::2>24107;?<2...","IdSensor":2606}]}]}}}}}},"/RestServiceApi/Dismiss/GetDismissType":{"post":{"tags":["Dismiss"],"summary":"Método responsável por retornar os tipos de desligamentos na empresa consultada.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por retornar os tipos de desligamentos na empresa consultada. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        \"COUNTRY\":\"BR\" /* (Campo obrigatório) Abreviãção do País consultado. BR = Brasil, PT = Prtugal, MX = México, US = Estados Unidos */\r\n     }","operationId":"Dismiss_GetDismissType","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Consulta realizada com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Dismiss/MarkDismiss":{"post":{"tags":["Dismiss"],"summary":"Método responsável por salvar o desligamento do funcionário da empresa.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por salvar o desligamento do funcionário da empresa. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n         // Os dados abaixo são fictícios, altere e informe os dados corretos da sua empresa.\r\n         // !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão salvos.     \r\n         // !!!Obrigatório enviar ou o campo MOTIVOID ou o campo MOTIVO, caso os dois forem enviados o primeiro a validar é o MOTIVOID!!\r\n         \"MATRICULA\": 9999, /* (Campo obrigatório) Matrícula do funcionário */\r\n         //\"PESSOAID\": 999, /* (Campo opcional) Id do Funcionário */\r\n         //\"CRACHA\": 99999, /* (Campo opcional) Cracha do Funcionário */\r\n         \"MOTIVOID\": 999, /*  Id do motivo do desligamento */\r\n         \"MOTIVO\": \"10-Rescisão com justa causa por iniciativa do empregador\", /* Descrição do motivo do desligamento */\r\n         \"DATA\": \"2023-02-10\" /* (Campo obrigatório) Data do desligamento do funcionário. Formato aaaa-MM-dd. */\r\n     }","operationId":"Dismiss_MarkDismiss","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Salvo com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Dismiss/UnmarkDismiss":{"post":{"tags":["Dismiss"],"summary":"Método responsável por retirar o desligamento do funcionário da empresa.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por retirar o desligamento do funcionário da empresa. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n         // Os dados abaixo são fictícios, altere e informe os dados corretos da sua empresa.\r\n         // !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão excluídos.     \r\n\r\n         \"MATRICULA\": 9999, /* (Campo obrigatório) Matrícula do funcionário */\r\n         //\"PESSOAID\": 999, /* (Campo opcional) Id do Funcionário */\r\n         //\"CRACHA\": 99999, /* (Campo opcional) Cracha do Funcionário */\r\n     }","operationId":"Dismiss_UnmarkDismiss","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Excluído com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Event/GetTypeEvents":{"post":{"tags":["Event"],"summary":"Buscar todos os tipos de eventos.","description":" Sample request:\r\n\r\n      /* Este método é responsável por buscar todos os tipos de eventos. */\r\n      \r\n      /* Headers */\r\n      /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n      /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n      \r\n      /* Post */\r\n      {\r\n          \"Id\" : 0, /* (Campo obrigatório) Id do tipo do evento. */\r\n          \"Code\": 0, /* (Campo obrigatório) Código do tipo do evento. */\r\n          \"Description\": \"\", /* (Campo obrigatório) Descrição do tipo do evento. */\r\n\t         \"ResponseType\":\"AS400V1\" /*(Campo obrigatório) Possível valor \"AS400V1\", sempre será esse valor fixo. É o tipo da resposta esperada */ \r\n      }","operationId":"Event_GetTypeEvents","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/RestServiceApi/Event/GetEvents":{"post":{"tags":["Event"],"summary":"Buscar todos os eventos.","description":" Sample request:\r\n\r\n      /* Este método é responsável por buscar todos os eventos. */\r\n      \r\n      /* Headers */\r\n      /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n      /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n      \r\n      /* Post */\r\n      {\r\n          \"Start\":\"01-06-2022\", /* (Campo obrigatório) Filtro de inicio do período da consulta. Formato dd-MM-aaaa. */\r\n          \"End\":\"24-06-2022\", /* (Campo obrigatório) Filtro de fim do período da consulta. Formato dd-MM-aaaa. */\r\n          \"IdTypeEvent\": 0, /* (Campo obrigatório) Id do tipo do evento. */\r\n          \"IdsEmployee\": [], /* (Campo opcional) Filtro de lista do id dos funcionários. */\r\n          \"IdsOrganizationStructure\": [1,2,3], /* (Campo opcional) Filtro de lista do id das estruturas. */\r\n          // \"EventCode\": 1, /* (Campo opcional) Código do Evento. */\r\n          // \"PayrollCode\": \"1\", /* (Campo opcional) Código da folha de pagamento. */\r\n\t         \"ResponseType\":\"AS400V1\" /*(Campo obrigatório) Possível valor \"AS400V1\", sempre será esse valor fixo. É o tipo da resposta esperada */ \r\n      }","operationId":"Event_GetEvents","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/RestServiceApi/Event/GetEventsGrouped":{"post":{"tags":["Event"],"summary":"Buscar todos os eventos agrupados por funcionário.","description":" Sample request:\r\n\r\n      /* Este método é responsável por buscar todos os eventos agrupados por funcionário. */\r\n      \r\n      /* Headers */\r\n      /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n      /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n      \r\n      /* Post */\r\n      {\r\n          \"Start\":\"01-06-2022\", /* (Campo obrigatório) Filtro de inicio do período da consulta. Formato dd-MM-aaaa. */\r\n          \"End\":\"24-06-2022\", /* (Campo obrigatório) Filtro de fim do período da consulta. Formato dd-MM-aaaa. */\r\n          \"IdTypeEvent\": 0, /* (Campo obrigatório) Id do tipo do evento. */\r\n          \"IdsEmployee\": [], /* (Campo opcional) Filtro de lista do id dos funcionários. */\r\n          \"IdsOrganizationStructure\": [1,2,3], /* (Campo opcional) Filtro de lista do id das estruturas. */\r\n          // \"EventCode\": 1, /* (Campo opcional) Código do Evento. */\r\n          // \"PayrollCode\": \"1\", /* (Campo opcional) Código da folha de pagamento. */\r\n\t         \"ResponseType\":\"AS400V1\" /*(Campo obrigatório) Possível valor \"AS400V1\", sempre será esse valor fixo. É o tipo da resposta esperada */ \r\n      }","operationId":"Event_GetEventsGrouped","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/RestServiceApi/ExtraHour/GetExtraHours":{"post":{"tags":["ExtraHour"],"summary":"Método responsável por consultar as horas extras.","description":"Sample request:\r\n     \r\n     /* Este método responsável por consultar as horas extras. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        \"IdsPessoa\": [1], /* (Campo obrigatório) Lista de cracha. */ \r\n        \"DataInicio\":\"01-02-2023\", /* (Campo obrigatório) Filtro de inicio do período da consulta. Formato dd-MM-aaaa. */\r\n        \"DataFim\":\"23-02-2023\", /* (Campo obrigatório) Filtro de fim do período da consulta. Formato dd-MM-aaaa. */\r\n        \"RequestType\":\"1\", /* (Campo obrigatório) É o tipo de valor que será informado no \"IdsPessoa\". 1 = Consulta por id dos funcionários, 2 = Consulta pelo crachá do funcionário, 3 = Consulta pela matrícula do funcionário. */\r\n        \"ResponseType\":\"AS400V1\" /*(Campo obrigatório) Possível valor \"AS400V1\", sempre será esse valor fixo. É o tipo da resposta esperada. */ \r\n     }","operationId":"ExtraHour_GetExtraHours","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Consulta realizada com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Facial/SearchFacial":{"post":{"tags":["Facial"],"summary":"Método responsável por retornar a facial consultada.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por retornar a facial consultada. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n\r\n     /* \r\n         O parâmetro IdSensor poderá receber os seguintes códigos referenciados:\r\n     \r\n         Tipos de Módulos Faciais:\r\n        \"2701\" Face; \"2702\" FaceAccess; \"2703\" SpeedFace; \"2704\" Visica; \"2706\" HikVision\r\n     */\r\n\r\n    /* Post */\r\n    {\r\n        \"lstFacialBiometrics\":\r\n        [{\r\n            \"IdEmployee\": 1, /* (Campo obrigatório) Id do funcionário */\r\n            \"IdSensor\": 2701 /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n        },\r\n    \t{\r\n            \"IdEmployee\": 2, /* (Campo obrigatório) Id do funcionário */\r\n            \"IdSensor\": 2702 /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n        },\r\n    \t{\r\n        \"IdEmployee\": 3, /* (Campo obrigatório) Id do funcionário */\r\n            \"IdSensor\": 2703 /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n        },\r\n    \t{\r\n        \"IdEmployee\": 4, /* (Campo obrigatório) Id do funcionário */\r\n            \"IdSensor\": 2704 /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n        },\r\n    \t{\r\n        \"IdEmployee\": 5, /* (Campo obrigatório) Id do funcionário */\r\n            \"IdSensor\": 2706 /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n        }]\r\n    }","operationId":"Facial_SearchFacial","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna as faces","schema":{"type":"array","items":{"$ref":"#/definitions/SearchFacialExample"}},"examples":{"application/json":{"Sucesso":true,"Mensagem":"","Obj":[{"IdEmployee":1,"LstTemplate":[{"IdFacial":1,"IdSensor":2702,"Template":"3;92406:38::2>24107;?<2..."}]}]}}}}}},"/RestServiceApi/Facial/SaveFacial":{"post":{"tags":["Facial"],"summary":"Método responsável por salvar a facial.","description":"Sample request:\r\n     \r\n    /* Este método é responsável por incluir biometria facial. */\r\n\r\n    /* Headers */\r\n    /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n    /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API. */\r\n    \r\n    /* \r\n        Os dados abaixo são fictícios, altere e informe os dados corretos.\r\n        !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão salvos.\r\n\r\n        O parâmetro IdSensor poderá receber os seguintes códigos referenciados:\r\n    \r\n        Tipos de Módulos Faciais:\r\n        \"2701\" Face; \"2702\" FaceAccess; \"2703\" SpeedFace; \"2704\" Visica; \"2706\" HikVision\r\n    */\r\n\r\n    /* Post */\r\n    {\r\n        \"lstFacialBiometrics\":\r\n        [{\r\n            \"IdEmployee\": 1, /* (Campo obrigatório) Id do funcionário */\r\n            \"IdSensor\": 2701, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n            \"CapturedFace\": \"Informe aqui a string do template\" /* (Campo obrigatório) Informe a string do template */\r\n        },\r\n        {\r\n            \"IdEmployee\": 2, /* (Campo obrigatório) Id do funcionário */\r\n            \"IdSensor\": 2702, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n            \"CapturedFace\": \"Informe aqui a string do template\" /* (Campo obrigatório) Informe a string do template */\r\n        },\r\n        {\r\n            \"IdEmployee\": 3, /* (Campo obrigatório) Id do funcionário */\r\n            \"IdSensor\": 2703, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n            \"CapturedFace\": \"Informe aqui a string do template\" /* (Campo obrigatório) Informe a string do template */\r\n        },\r\n        {\r\n        \"IdEmployee\": 4, /* (Campo obrigatório) Id do funcionário */\r\n            \"IdSensor\": 2704, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n            \"CapturedFace\": \"Informe aqui a string do template\" /* (Campo obrigatório) Informe a string do template */\r\n        },\r\n        {\r\n        \"IdEmployee\": 5, /* (Campo obrigatório) Id do funcionário */\r\n            \"IdSensor\": 2706, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n            \"CapturedFace\": \"Informe aqui a string do template\" /* (Campo obrigatório) Informe a string do template */\r\n        }]\r\n    }","operationId":"Facial_SaveFacial","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Incluir as faces","schema":{"type":"array","items":{"$ref":"#/definitions/GetFacialExample"}},"examples":{"application/json":{"Sucesso":true,"Mensagem":"","Obj":null}}}}}},"/RestServiceApi/Facial/ChangeFacial":{"post":{"tags":["Facial"],"summary":"Método responsável por atualizar a facial.","description":"Sample request:\r\n     \r\n    /* Este método é responsável por atualizar biometria facial. */\r\n\r\n    /* Headers */\r\n    /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n    /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API. */\r\n    \r\n    /* \r\n        Os dados abaixo são fictícios, altere e informe os dados corretos.\r\n        !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão salvos.\r\n\r\n        O parâmetro IdSensor poderá receber os seguintes códigos referenciados:\r\n    \r\n        Tipos de Módulos Faciais:\r\n        \"2701\" Face; \"2702\" FaceAccess; \"2703\" SpeedFace; \"2704\" Visica\r\n    */\r\n\r\n    /* Post */\r\n    {\r\n        \"lstFacialBiometrics\":\r\n        [{\r\n                \"IdEmployee\": 1, /* (Campo obrigatório) Id do funcionário */\r\n                \"IdSensor\": 2701, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n                \"CapturedFace\": \"Informe aqui a string do template\" /* (Campo obrigatório) Informe a string do template */\r\n            },\r\n        \t{\r\n                \"IdEmployee\": 2, /* (Campo obrigatório) Id do funcionário */\r\n                \"IdSensor\": 2702, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n                \"CapturedFace\": \"Informe aqui a string do template\" /* (Campo obrigatório) Informe a string do template */\r\n            },\r\n        \t{\r\n            \"IdEmployee\": 3, /* (Campo obrigatório) Id do funcionário */\r\n                \"IdSensor\": 2703, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n                \"CapturedFace\": \"Informe aqui a string do template\" /* (Campo obrigatório) Informe a string do template */\r\n            },\r\n        \t{\r\n            \"IdEmployee\": 4, /* (Campo obrigatório) Id do funcionário */\r\n                \"IdSensor\": 2704, /* (Campo obrigatório) Informe o id do sensor biometrico cadastrado */\r\n                \"CapturedFace\": \"Informe aqui a string do template\" /* (Campo obrigatório) Informe a string do template */\r\n        }]\r\n    }","operationId":"Facial_ChangeFacial","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Alterar as faces","schema":{"type":"array","items":{"$ref":"#/definitions/GetFacialExample"}},"examples":{"application/json":{"Sucesso":true,"Mensagem":"","Obj":null}}}}}},"/RestServiceApi/Facial/DeleteFacial":{"post":{"tags":["Facial"],"summary":"Método responsável por excluir a facial.","description":"Sample request:\r\n     \r\n    /* Este método é responsável por excluir a facial. */\r\n\r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     { \r\n        \"lstFacialBiometrics\":\r\n        [{\r\n        \t   \"IdEmployee\": 1, /* (Campo obrigatório) Id do funcionário */\r\n        \t   \"IdFacial\": 1 /* (Campo obrigatório) Informe o id da facial cadastrada */\r\n        \t},\r\n        \t{\r\n        \t   \"IdEmployee\": 2, /* (Campo obrigatório) Id do funcionário */\r\n        \t   \"IdFacial\": 2 /* (Campo obrigatório) Informe o id da facial cadastrada */\r\n        \t},\r\n        \t{\r\n            \"IdEmployee\": 3, /* (Campo obrigatório) Id do funcionário */\r\n        \t   \"IdFacial\": 3 /* (Campo obrigatório) Informe o id da facial cadastrada */\r\n        \r\n            },\r\n        \t{\r\n            \"IdEmployee\": 4, /* (Campo obrigatório) Id do funcionário */\r\n        \t   \"IdFacial\": 4 /* (Campo obrigatório) Informe o id da facial cadastrada */\r\n        }]\r\n     }","operationId":"Facial_DeleteFacial","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Deletar as faces","schema":{"type":"array","items":{"$ref":"#/definitions/GetFacialExample"}},"examples":{"application/json":{"Sucesso":true,"Mensagem":"","Obj":null}}}}}},"/RestServiceApi/Facial/GetAllPeopleWithOrWithoutFacial":{"post":{"tags":["Facial"],"summary":"Método para buscar todos os templates faciais","description":"Exemplo:\r\n            \r\n    /* Este método é responsável por buscar o funcionário o funcionário. */\r\n    \r\n    /* Headers */\r\n    /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n    /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n\r\n    /* \r\n        O parâmetro IdSensor poderá receber os seguintes códigos referenciados:\r\n    \r\n        Tipos de Módulos Faciais:\r\n       \"2701\" Face; \"2702\" FaceAccess; \"2703\" SpeedFace; \"2704\" Visica\r\n    */\r\n\r\n    /* Post */\r\n    {\r\n       \"Id\": 1, /* (Campo opcional) Id do funcionário. */\r\n       \"Matricula\": 01, /* (Campo opcional) Matricula do funcionário. */\r\n       \"Cracha\": 01, /* (Campo opcional) Cracha do funcionário. */\r\n       \"Nome\": \"Novo Funcionário\", /* (Campo opcional) Nome do funcionário. */\r\n       \"IdSensor\": 2702 /* (Campo opcional) Informe o id do sensor biometrico cadastrado */ \r\n    }","operationId":"Facial_GetAllPeopleWithOrWithoutFacial","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Retorna os funcionários do sistema","schema":{"type":"array","items":{"$ref":"#/definitions/GetAllPeopleWithOrWithoutFacialExample"}},"examples":{"application/json":{"Sucesso":true,"Mensagem":"","TotalPagina":1,"PaginaAtual":1,"Obj":[{"Id":1,"Matricula":1,"Cracha":1,"Nome":"Employee 1","LstTemplate":[{"IdFacial":1,"Template":"3;92406:38::2>24107;?<2...","IdSensor":2702}]}]}}}}}},"/RestServiceApi/HealthCheck/ApplicationHealthCheck":{"post":{"tags":["HealthCheck"],"operationId":"HealthCheck_ApplicationHealthCheck","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"HealthCheck-Token","in":"header","description":"Token de autenticação do Health Check","required":true,"type":"string"}],"responses":{"200":{"description":"Valida se a aplicação está disponível.","schema":{"$ref":"#/definitions/Status"}}}}},"/RestServiceApi/HealthCheck/DatabaseHealthCheck":{"post":{"tags":["HealthCheck"],"operationId":"HealthCheck_DatabaseHealthCheck","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"HealthCheck-Token","in":"header","description":"Token de autenticação do Health Check","required":true,"type":"string"}],"responses":{"200":{"description":"Valida a conexão com o banco de dados.","schema":{"$ref":"#/definitions/Status"}}}}},"/RestServiceApi/Holiday/MarkHoliday":{"post":{"tags":["Holiday"],"summary":"Método responsável por salvar as férias do funcionário da empresa.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por salvar as férias do funcionário da empresa. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n         // Os dados abaixo são fictícios, altere e informe os dados corretos da sua empresa.\r\n         // !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão salvos.     \r\n\r\n         \"MATRICULA\": 9999, /* (Campo obrigatório) Matrícula do funcionário */\r\n         //\"PESSOAID\": 999, /* (Campo opcional) Id do Funcionário */\r\n         //\"CRACHA\": 99999, /* (Campo opcional) Cracha do Funcionário */\r\n         \"DATAINICIO\": \"2023-02-10\", /* (Campo obrigatório) Inicio das férias do funcionário. Formato aaaa-MM-dd. */\r\n         \"DATAFIM\": \"2023-02-20\", /* (Campo obrigatório) Fim das férias do funcionário. Formato aaaa-MM-dd. */\r\n         \"PermitirExtrapolarDataFinal\": false, /* (Campo opcional) Permitir extrapolar as férias. Valor padrão é false. false = Não permite extrapolar as férias, true = Permite extrapolar as férias  */\r\n         \"RemoverFolgas\": false, /* (Campo opcional) Remove as folgas do período de férias informado. Valor padrão é false. false = Não exclui as folgas, true = Exclui as folgas */\r\n         \"Coletiva\": false, /* (Campo opcional) Informa se as férias são ou não coletivas. Valor padrão é false. false = Não são férias coletivas, true = São férias coletivas */\r\n         \"ConfirmacaoFeriasPrimeiroPeriodoAquisitivo\": false, /* (Campo opcional) Confirma se as férias são do primeiro período aquisitivo. Valor padrão é false. false = As férias não são do primeiro período aquisitivo, true = As férias são do primeiro período aquisitivo  */\r\n     }","operationId":"Holiday_MarkHoliday","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Salvo com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Holiday/UnMarkHoliday":{"post":{"tags":["Holiday"],"summary":"Método responsável por retirar as férias do funcionário da empresa.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por retirar as férias do funcionário da empresa. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n         // Os dados abaixo são fictícios, altere e informe os dados corretos da sua empresa.\r\n         // !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão excluídos.     \r\n\r\n         \"MATRICULA\": 9999, /* (Campo obrigatório) Matrícula do funcionário */\r\n         //\"PESSOAID\": 999, /* (Campo opcional) Id do Funcionário */\r\n         //\"CRACHA\": 99999, /* (Campo opcional) Cracha do Funcionário */\r\n     }","operationId":"Holiday_UnMarkHoliday","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Excluído com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Holiday/ReMarkHoliday":{"post":{"tags":["Holiday"],"summary":"Método responsável por remarcar as férias do funcionário da empresa.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por remarcar as férias do funcionário da empresa. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n         // Os dados abaixo são fictícios, altere e informe os dados corretos da sua empresa.\r\n         // !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão salvos.     \r\n\r\n         \"MATRICULA\": 9999, /* (Campo obrigatório) Matrícula do funcionário */\r\n         //\"PESSOAID\": 999, /* (Campo opcional) Id do Funcionário */\r\n         //\"CRACHA\": 99999, /* (Campo opcional) Cracha do Funcionário */\r\n         \"DATAINICIO\": \"2023-02-10\", /* (Campo obrigatório) Inicio das férias do funcionário. Formato de data aaaa-MM-dd. */\r\n         \"DATAFIM\": \"2023-02-20\", /* (Campo obrigatório) Fim das férias do funcionário. Formato de data aaaa-MM-dd. */\r\n         \"PermitirExtrapolarDataFinal\": false, /* (Campo opcional) Permitir extrapolar as férias. Valor padrão é false. false = Não permite extrapolar as férias, true = Permite extrapolar as férias  */\r\n     }","operationId":"Holiday_ReMarkHoliday","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Alterado com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Holiday/GetHoliday":{"post":{"tags":["Holiday"],"summary":"Método responsável por retornar as férias dos funcionários da empresa.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por retornar as férias dos funcionários da empresa. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        // Informar apenas um parâmetro ou não informar nenhuma para retornar todas as férias dos funcionários da empresa.\r\n        \r\n         \"Cracha\": [ 9998, 9999 ], /* (Campo opcional) Filtro de lista de cracha do Funcionário */\r\n         \"InicioPesquisa\": \"2020-07-01T00:00:00\", /* (Campo obrigatório) Filtro de inicio do período da consulta. */\r\n         \"FimPesquisa\": \"2021-07-11T00:00:00\" /* (Campo obrigatório) Filtro de fim do período da consulta. */\r\n     }","operationId":"Holiday_GetHoliday","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Consulta realizada com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/JobPosition/SearchJobPosition":{"post":{"tags":["JobPosition"],"summary":"Método responsável por retornar o cargo na empresa consultada.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por retornar o cargo na empresa consultada. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        // Informar apenas um parâmetro ou não informar nenhuma para retornar todas as estruturas da empresa.\r\n        \r\n        // \"Id\": 4, /* (Campo opcional) Filtro de id do cargo*/\r\n        // \"Codigo\": 4, /* (Campo opcional) Filtro de código do cargo */\r\n        // \"Descricao\": \"ANALISTA BIBLIOTECA\", /* (Campo opcional) Filtro de descrição do cargo */\r\n        // \"Modify\": false, /* (Campo opcional) Retornar as estruturas que foram alteradas dependendo do parâmetro informado. Valor padrão é false. false = Não retorna os alterados, true = Retorna somente os alterados  */\r\n        // \"Exclude\": false /* (Campo opcional) Retornar as estruturas que foram excluídas dependendo do parâmetro informado. Valor padrão é false. false = Não retorna os excluídos, true = Retorna somente os excluídos  */\r\n     }","operationId":"JobPosition_SearchJobPosition","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Consulta realizada com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/JobPosition/SaveJobPosition":{"post":{"tags":["JobPosition"],"summary":"Método responsável por salvar o cargo na empresa.","description":"Sample request:\r\n     \r\n     /* Este método é responsável por salvar o cargo na empresa. */\r\n            \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e Value são obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e Value são obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        // Os dados abaixo são fictícios, altere e informe os dados corretos da sua empresa.\r\n        \r\n        \"Codigo\" : \"9999\", /* (Campo obrigatório) Código do cargo */\r\n        \"Descricao\" : \"Cargo de teste 9999\", /* (Campo obrigatório) Descrição do cargo */\r\n        // \"Extra1\": \"Informação extra 1\", /* (Campo opcional) Informação adicional 1 referente ao cargo que está sendo gravada. */\r\n        // \"Extra2\": \"Informação extra 2\", /* (Campo opcional) Informação adicional 2 referente ao cargo que está sendo gravada */\r\n     }","operationId":"JobPosition_SaveJobPosition","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Salvo com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/JobPosition/ChangeJobPosition":{"post":{"tags":["JobPosition"],"summary":"Método responsável por alterar o cargo da empresa.","description":"Sample request:\r\n     \r\n    /* Este método é responsável por alterar o cargo da empresa. */\r\n\r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        // Os dados abaixo são fictícios, altere e informe os dados corretos da sua empresa.\r\n        // !!! ALERTA !!! - Cuidado antes de executar este método, os dados serão alterados.\r\n        \r\n        \"Id\" : \"9999\", /* (Campo obrigatório) Id do cargo */\r\n        \"Codigo\" : \"9999\", /* (Campo obrigatório) Código do cargo */\r\n        \"Descricao\": 18261, /* (Campo obrigatório) Descrição do cargo */\r\n        // \"Extra1\": \"Informação extra 1\", /* (Campo opcional) Informação adicional 1 referente a estrutura que está sendo gravada. */\r\n        // \"Extra2\": \"Informação extra 2\", /* (Campo opcional) Informação adicional 2 referente a estrutura que está sendo gravada */\r\n     }","operationId":"JobPosition_ChangeJobPosition","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Salvo com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/JobPosition/DeleteJobPosition":{"post":{"tags":["JobPosition"],"summary":"Método responsável por excluir o cargo da empresa.","description":"Sample request:\r\n     \r\n    /* Este método é responsável por excluir o cargo da empresa. */\r\n\r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        // Os dados abaixo são fictícios, altere e informe os dados corretos da sua empresa.\r\n        // !!! ALERTA !!! - Cuidado antes de executar este método, o dado será excluído.\r\n        \r\n        \"Id\" : \"9999\", /* (Campo obrigatório) Id do cargo */\r\n     }","operationId":"JobPosition_DeleteJobPosition","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jsonData","in":"body","required":true,"schema":{"type":"object"}},{"name":"identifier","in":"header","description":"Cnpj/Cpf da empresa","required":false,"type":"string"},{"name":"key","in":"header","description":"Chave da Integração REST API","required":false,"type":"string"}],"responses":{"200":{"description":"Excluído com sucesso","schema":{"type":"object"}}}}},"/RestServiceApi/Justification/GetJustification":{"post":{"tags":["Justification"],"summary":"Método responsável por consultar as justificativas da empresa.","description":"Sample request:\r\n     \r\n     /* Este método responsável por consultar as justificativas da empresa. */\r\n     \r\n     /* Headers */\r\n     /* Key = identifier | Value = 10358656000134 (Key e value obrigatórios) O value é o CPF ou CNPJ (BR)/ NIF (PT) / RFC ou CURP (MX) sem acentuação ou separador. */\r\n     /* Key = Key | Value = 6404bd39-2c02-4feb-ba4f-9c8d19fa9529 (Key e value obrigatórios) Esta chave é gerada pelo sistema no menu Integração REST API.*/\r\n     \r\n     /* Post */\r\n     {\r\n        \"Code\" : 0, /* (Campo obrigatório) Filtro de codigo da justificativa. */\r\n        \"I
[...]
